/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class
/bin/classes/com/example/hotnewsapp/*.class

/gen/com/example/hotnewsapp/R.java

/.settings/org.eclipse.jdt.core.prefs

/bin/AndroidManifest.xml
